{% extends "layout.html.twig" %}

{% block title %} Todo List {% endblock %}
{% block body %}

<h4 class="text text-info">Total: {{ todos | length }} </h4>
<table class="table table-info mt-3">
    <thead>
        <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Category</th>
            <th>Menu</th>
        </tr>
    </thead>
    <tbody>
    {% set i = 1 %}
    {% for todo in todos %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ todo.title }}</td>
            <td>{{ todo.category }}</td>
            <td>
                <a class="btn btn-info" href="{{ path('view_todo_by_id', {'id' : todo.id })}}">Detail</a>
                <a class="btn btn-warning" href="#">Edit</a>
                <a class="btn btn-danger" href="{{ path('delete_todo', {'id' : todo.id})}}"
                onclick="return confirm('Are you sure to delete this Todo ?')";
                >Delete</a>
            </td>
        </tr>
        {% set i = i + 1 %}
    {% endfor %}
    </tbody>
</table>

{% endblock %}
